[submodule "pyiron/resources/dynamic/MyCinolaJob"]
	path = pyiron/resources/dynamic/MyCinolaJob
	url = https://github.com/s4b7r/cinola-pyiron-job.git
[submodule "samsstudio"]
	path = samsstudio
	url = https://github.com/samwaseda/sams-studio.git
